@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: lightgray;
}

.page-heading {
  text-align: center;
  margin-top: 20px;
}

.searchbar-container {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  margin: 20px;
}

.cart-card {
  color: rgb(0, 0, 0);
  height: 100px;
  width: 100px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;
  cursor: pointer;
  margin-top: -30px;
}

.allign-card-buttons {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
}

.cart-button-box {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.cart-textfield-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 40px;
    margin-right: 10px;
}